services:
  api:
    build:
      context: ./api
    container_name: api
    ports:
      - "8080:80"
    volumes:
      - ./api/app:/code/app
    env_file: ".env"

  worker:
    build:
      context: ./worker
    container_name: worker
    volumes:
      - ./worker/app:/code/app
    env_file: ".env"

  db:
    image: postgres:18
    container_name: db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  
  # pgadmin:
  #   image: dpage/pgadmin4:9.12.0
  #   container_name: pgadmin
  #   ports:
  #     - "5050:80"
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
  #     PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
  #   depends_on:
  #     - db