services:
  db:
    image: postgres:18
    container_name: db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  migrations:
    build:
      context: ./api
    command: alembic upgrade head
    depends_on:
      db:
        condition: service_healthy
    env_file: ".env"

  api:
    build:
      context: ./api
    user: "1000:1000"
    container_name: api
    ports:
      - "8080:80"
    volumes:
      - ./api:/code
    depends_on:
      db:
        condition: service_healthy
    env_file: ".env"

  worker:
    build:
      context: ./worker
    container_name: worker
    volumes:
      - ./worker/cron.log:/var/log/cron.log
    depends_on:
      db:
        condition: service_healthy
    env_file: ".env"

  
  # pgadmin:
  #   image: dpage/pgadmin4:9.12.0
  #   container_name: pgadmin
  #   ports:
  #     - "5050:80"
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
  #     PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
  #   depends_on:
  #     - db