SHELL=/bin/bash

5-59/10 * * * * root cd /code && source bootstrap.sh && bash scripts/run_incremental.sh >> /var/log/cron.log 2>&1
10-59/10 * * * * root cd /code && source bootstrap.sh && bash scripts/run_reconciliation.sh >> /var/log/cron.log 2>&1
